.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    vertical-align: middle;
    padding-top: 20px;
    margin-top: 40px;
    background-color: rgb(29, 54, 71);
    color:white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px
  }

  .log-in-input {
    display: inline;
    margin-bottom: 15px;
    width: 100%
  }

  .log-in {
      letter-spacing: 2.5px;
      font-size: 30px;
      margin-bottom: 15px;
      margin-top: 15px;
  }

  .log-in-text {
      letter-spacing: 1.5px;
      padding-bottom: 5px
  }

  #sign-up-link {
      color: white
  }


  #navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 54, 71);
    margin-bottom: 20px
  }

  .navigation-bar-item {
    float: left;
    margin-top: 4px
  }

  .navigation-text {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  .navigation-text:hover {
    background-color: rgb(216, 216, 216);
    color: rgb(29, 54, 71);
  }

  .sidebar {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(29, 54, 71);
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 50px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }  

  .sidebar a:hover {
    color: rgb(216, 216, 216);
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  } 

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(29, 54, 71);
    color: white;
    border: none;
  }

  .openbtn:hover {
    background-color: rgb(216, 216, 216);
  }

  #main {
    transition: margin-left .5s; /* If you want a transition effect */
  }

  .bell {
      color: white
  }

  .line {
    width: 75%;
    border-color: rgb(29, 54, 71);
    margin-bottom: 20px;
  }