#hawker-nav {
    background-color: #13505b
    color: #d8d8d8;
  }
  
  .hawker-title {
    color: #d8d8d8;
  }
  
  .hawker-home {
    color: #d8d8d8;
  }
  
  .hawker-action {
    color: #d8d8d8;
  }
  
  .hawker-anoaction {
    color: #d8d8d8;
  }
  
  .hawker-seplink {
    color: #d8d8d8;
  }
  
  .hawker-something {
    color: #d8d8d8;
  }
  