#invest-nav {
    background-color: #13505b;
    color: #d8d8d8;
  }
  
 #investor-title {
    color: #d8d8d8;
  }
  
  #investor-home {
    color: #d8d8d8;
  }
  
 #investor-action {
    color: #d8d8d8;
  }
  
  .#investor-seplink {
    color: #d8d8d8;
  }